@import './global.css';

body {
	background: #FECE41;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
	width: 300px;
	padding: 20px;
	background: #f5f5f5;
	box-shadow: 5px 6px #f2bf27;
}

form h2 {
	font-weight: 400;
}

form input {
	width: 100%;
	height: 35px;
	margin: 8px 0;
	border: 1px solid #cccccc;
	padding: 0 10px;
}

form button {
	color: #221B10;
	background: #FECE41;
	padding: 8px 30px;
	border: none;
	cursor: pointer;
	margin: 8px auto;
	font-size: 16px;
	display: block;
}

form small {
	font-size: 12px;
	color: #888;
}

form .input-box {
	position: relative;
}

form span {
	position: absolute;
	right: 10px;
	bottom: 15px;
	font-size: 32px;
	color: #2b2b2b;
}

form span.password {
	cursor: pointer;
}
