<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Empório das Bananas</title>

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<meta
			name="description"
			content="As melhores balas de banana da região de Peruíbe-SP."
		/>
		<meta name="author" content="Vinícius Trindade" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="robots" content="index,follow" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="canonical" href="https://emporiodasbananas.com.br" />

		<meta property="og:title" content="Empório das Bananas" />
		<meta property="og:site_name" content="Empório das Bananas" />
		<meta
			property="og:description"
			content="As melhores balas de banana da região de Peruíbe-SP."
		/>
		<meta property="og:url" content="https://emporiodasbananas.com.br" />

		<link rel="stylesheet" href="./styles/style.css" />
	</head>
	<body class="main">
		<div class="box">
			<h2>Empório das Bananas</h2>
			<div class="website">
				<p>
					<a href="/home"> <i class="fas fa-globe"></i> Website </a>
				</p>
			</div>
			<div class="instagram">
				<p>
					<a href="https://instagram.com/bananasemporio">
						<i class="fab fa-instagram"></i> Instagram
					</a>
				</p>
			</div>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"
		></script>
		<script src="./scripts/fontawesome.js"></script>
	</body>
</html>
