<!DOCTYPE html>
<html lang="en">
<head>
	<title>Painel de Controle - Página Principal</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="author" content="Vinícius Trindade">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="robots" content="index,follow">
	<meta name="theme-color" content="#ffffff">
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="../admin/styles/main.css">
</head>
<body>
	<aside class="left">
			<div class="user">
				<div class="role left">
					<i class="fas <%= utils.getRoleIcon(login.role) %>"></i>
				</div>
				<div class="info left">
					<h2><%= login.name %></h2>
					<h3><%= utils.getRole(login.role) %></h3>
				</div>
			</div>
			<div class="items">
				<h2>Usuário</h2>
				<a href="/admin/editar-usuario">Editar usuário</a>
				<h2>Setores</h2>
				<a href="/admin/a-empresa">A Empresa</a>
				<a href="/admin/finanças">Finanças</a>
				<a href="/admin/administração">Administração</a>
				<a href="/admin/recursos-humanos">Recursos Humanos</a>
				<a href="/admin/logística">Logística</a>
				<a href="/admin/produção">Produção</a>
				<a href="/admin/vendas">Vendas</a>
				<a href="/admin/marketing">Marketing</a>
				<a href="/admin/comunicação">Comunicação</a>
				<h2>Outros</h2>
				<a href="/amdin/logs">Logs</a>
				<a href="/">Website</a>
			</div>
		</aside>

		<header class="left">
			<div class="menu-button left"><i class="fa-solid fa-bars"></i></div>
			<div class="logout right">
				<a href="/admin/logout">
					<i class="fa-solid fa-arrow-right-from-bracket"></i>
					<span>Encerrar sessão</span>
				</a>
			</div>
			<div
				style="display:<%= (page == '/admin/') ? 'none' : 'block' %>"
				class="home right"
			>
				<a href="/admin/">
					<i class="fa-solid fa-house"></i> <span>Página inicial</span>
				</a>
			</div>
			<div class="clear"></div>
		</header>

		<main class="left">
			<% if (page == '/admin/') { %> <%- include('./main.html') %> <% } else
			{ %> <%- include('./' + page.split('/')[2] + '.html') %> <% } %>
		</main>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="../scripts/fontawesome.js"></script>
	<script src="../admin/scripts/script.js"></script>
</body>
</html>
