<div class="content w100 left">
	<h2><i class="fas fa-house"></i> Página Principal</h2>
</div>
<div class="content w100 left">
	<h2>Título</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nihil, voluptatum. Cum, animi, magnam. Quaerat mollitia voluptas, vel, quibusdam dicta est consectetur, magnam esse cumque omnis magni consequatur perspiciatis nesciunt.</p>
</div>
<div class="content w50 left">
	<h2>Título</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, architecto facilis harum commodi distinctio voluptate rerum fuga cum, voluptates porro dolorum aspernatur. Rem, odio adipisci incidunt culpa id explicabo commodi.</p>
</div>
<div class="content w50 right">
	<h2>Título</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium velit, expedita, tempora ducimus provident id accusantium quisquam veritatis ullam reiciendis culpa enim dolorem totam explicabo pariatur a? Saepe ab, impedit.</p>
</div>
